.calls {
  font-size: 70px;  
  font-weight: 1000;
  color: #2E5D74;
}

.pree {
    color: #2E5D74;
    font-size: 30px;
    font-weight: 700;
}

.with {
    font-size: 18px;
    font-weight: 700;
}

.btn-ghost {
    --tw-border-opacity: 1;
    background-color: #174359;
    font-size: 18px;
    color: rgba(255, 255, 255, var(--tw-text-opacity)); 
}