.emi {
    font-size: 17px;
}

.shadow-box {
    height: 40vh;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .shadow-box em {
    font-size: 1rem;
    line-height: 1.5;
  }

  @media (max-width: 768px) {
    .shadow-box em {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: bold;
    }

    .shadow-box span {
      font-size: 1.25rem;
      font-weight: bold;
    }

    .flex-1 {
      margin-bottom: 16px;
    }
  }