.right-end {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
  }
  
  .navbar-divider {
    width: 100%;
    border-top: 1px solid #49557e;
    margin-top: 10px;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; 
    z-index: 1000; /* Ensure navbar stays on top */
  }
  

  
  /* Adjustments for logo margin and other styles as needed */
  .navbar .logo {
    width: 200px;
    margin-left: 10px; /* Adjust margin to align more to the left */
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 70px;
    color: #49557e;
    font-size: 18px;
  }
  
  .menu-item {
    position: relative;
  }
  
  .menu {
    color: #174359;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: max-content;
  }
  
  .dropdown-item {
    display: block;
    padding: 0.5rem 1rem; /* Add padding for better visibility */
    font-size: 15px;
    color: #174359;
    white-space: nowrap;
    height: auto; /* Ensure height is set to auto */
  }
  .dropdown-item:hover {
    text-decoration: underline;
  }
  
  .dropdown-icon {
    margin-left: 5px;
    color: #174359;
    transition: transform 0.3s;
  }
  
  .dropdown-icon.open {
    transform: rotate(180deg);
  }
  
  .menu-toggle {
    display: none; /* Hidden by default */
    background: none;
    border: none;
    font-size: 24px;
    color: #174359;
    cursor: pointer;
  }
  
  /* Media Queries for Mobile */
  @media (max-width: 900px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar .logo {
      width: 120px;
    }
  
    .navbar-menu {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      display: none; /* Hidden by default on mobile */
      width: 100%;
    }
  
    .navbar-menu.open {
      display: flex;
    }
  
    .menu-toggle {
      display: block; /* Show toggle button on mobile */
    }
  
    .navbar-divider {
      display: none; /* Hide hr on mobile */
    }
  
    .right-end {
      display: none; /* Hide right-end menu items on mobile */
    }
  }
  